html	{
	background-color: #cccccc;
}

h1, h2	{

	font-weight: normal
	font-size: 5rem;
	font-style: normal;
	text-decoration: underline;
	font-family: "Bowlby One Sc";
	line-height: 2;
}

h3 {
	font-weight: normal
	font-size: 4rem;
	font-style: normal;
	text-decoration: underline;
	font-family: "Bowlby One Sc";
	line-height: 2;
}

a {
	color: red;
}

a:hover	{
	color: white;
}

p {
	font-family: "Bitter";
}

b {
	Color: grey;
}

ol{
	list-style: none;
	padding: 0;
}

ul {
	list-style-type: square;
}
